packages/node_app/* linguist-vendored
eslint.config.mjs linguist-vendored
packages/node_app/maincluster.js linguist-vendored
packages/superofficedx-vscode-core/scripts/build.js linguist-vendored
packages/superofficedx-vscode-crmscript/scripts/esbuild.mjs linguist-vendored
packages/node_app/mainworker.cjs linguist-vendored
packages/superofficedx-vscode-tsfso/scripts/build.js linguist-vendored
.vscode-test.mjs linguist-vendored
packages/superofficedx-vscode-core/.vscode-test.mjs linguist-vendored
